.Auth {
  width: 100%;
  height: 100%;
}

.Auth > * {
  height: 100%;
}

.Auth__Alert {
  position: fixed;
  top: 0.1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2000;
  min-width: 50%;
  width: max-content;
  direction: rtl;
  text-align: center;
  padding: 1rem;
}

.Auth__Alert button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: currentColor;
  margin-inline-end: 1rem;
}
