.Footer {
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  background-color: var(--clr-blue-light);
}

.Footer * {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 0.5rem;
  }
}
