:root {
  --clr-blue-dark: #003f5a;
  --clr-blue-light: #007a7a;
  --clr-neutral: #ebd9c8;
  --clr-orange-dark: #de6600;
  --clr-orange-light: #fea02f;

  --bp-xs: 0;
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --bp-xxl: 1400px;
}

.App {
  width: 100%;
  height: 100%;
}
