.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Home__Container,
.Home__ContainerRow {
  height: 100%;
  min-height: 22rem;
}

@media screen and (max-width: 768px) {
  .Home__Container,
  .Home__ContainerRow {
    height: auto;
    min-height: auto;
  }
}
