.FormContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.FormContainer__Link {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  margin-inline-start: auto;
}

.FormContainer__Link a {
  text-decoration: none;
}

.FormContainer__Link a:hover {
  text-decoration: underline;
}

.Form {
  margin: auto;
  width: 50%;
}

.Form :is(label, button) {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.Form__InputGroup input {
  border-right: none;
}

.Form__InputIcon {
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  color: #4e4e4e;
}

.Form__Btn .sr-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .Form {
    width: 90%;
    margin-top: 5rem;
  }
}
