.NotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-neutral);
}

.NotFound__Image {
  height: 10rem;
}

.NotFound__Text {
  text-transform: uppercase;
}

.NotFound__Link {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 125%;
  transition: transform 200ms;
}

.NotFound__Link:hover {
  transform: scaleX(1.05);
}
